<svg class="hidden">
  <defs>
    <symbol id="icon-pin" viewBox="0 0 512 512">
      <path style="fill:#FD003A;" d="M256,0C156.698,0,76,80.7,76,180c0,33.6,9.302,66.301,27.001,94.501l140.797,230.414
          c2.402,3.9,6.002,6.301,10.203,6.901c5.698,0.899,12.001-1.5,15.3-7.2l141.2-232.516C427.299,244.501,436,212.401,436,180
          C436,80.7,355.302,0,256,0z M256,270c-50.398,0-90-40.8-90-90c0-49.501,40.499-90,90-90s90,40.499,90,90
           C346,228.9,306.999,270,256,270z" />
      <path style="fill:#E50027;" d="M256,0v90c49.501,0,90,40.499,90,90c0,48.9-39.001,90-90,90v241.991
          c5.119,0.119,10.383-2.335,13.3-7.375L410.5,272.1c16.799-27.599,25.5-59.699,25.5-92.1C436,80.7,355.302,0,256,0z"
      />

    </symbol>
    <symbol id="icon-cross" viewBox="0 0 24 24">
      <title>cross</title>
      <path class="path1" d="M18.016 5.125q0.369 0 0.614 0.245t0.245 0.614q0 0.363-0.248 0.611l-5.411 5.405 5.411 5.405q0.248 0.248 0.248 0.611 0 0.369-0.245 0.614t-0.614 0.245q-0.363 0-0.611-0.248l-5.405-5.411-5.405 5.411q-0.248 0.248-0.611 0.248-0.369 0-0.614-0.245t-0.245-0.614q0-0.363 0.248-0.611l5.411-5.405-5.411-5.405q-0.248-0.248-0.248-0.611 0-0.369 0.245-0.614t0.614-0.245q0.363 0 0.611 0.248l5.405 5.411 5.405-5.411q0.248-0.248 0.611-0.248z"></path>
    </symbol>
  </defs>
</svg>
<div class="building">
  <div class="stages">
    <div class="stage">
      <svg class="inner-map" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 523.17 703.58" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
        <defs>
          <style>
            .cls-1 {
              fill: #d8d8d8;
            }

            .cls-2 {
              fill: #898885;
              stroke: #707070;
              stroke-width: 3px;
            }

            .cls-2,
            .cls-3 {
              stroke-miterlimit: 10;
            }

            .cls-3 {
              fill: none;
              stroke: #000;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Asset 1</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <polygon class="cls-1" points="18.12 504.09 136.62 504.09 136.62 702.08 522.1 702.08 522.1 441.09 521.67 319.6 288.11 319.6 288.11 162.1 254 130.61 193.61 130.61 193.61 48.11 139.62 48.11 139.62 1.5 1.5 1.5 1.5 502.59 18.12 504.09"
            />
            <rect data-space="2.228" class="map__space cls-2" x="137.62" y="441.09" width="384.06" height="260.99" />
            <polyline class="cls-2" points="1.79 449 72.67 449 72.67 413.33 1.5 413.33" />
            <polygon data-space="2.225" class="map__space cls-2" points="288.11 319.6 288.11 162.1 254.46 130.61 139.62 130.61 139.62 319.6 288.11 319.6"
            />
            <rect class="cls-2" x="57.34" y="190" width="80.28" height="144.67" />
            <path class="cls-2" d="M139.62,48.11" />
            <polygon class="cls-2" points="139.62 49.11 139.62 131.61 192.75 131.61 193.61 49.11 139.62 49.11" />
            <polygon class="cls-2" points="1.79 190 137.62 190 137.62 131.61 137.62 49.11 137.62 1.5 1.5 1.5 1.79 190" />
            <rect data-space="2.227" class="map__space cls-2" x="288.11" y="319.6" width="124.56" height="121.49" />
            <rect data-space="2.229" class="map__space cls-2" x="412.67" y="319.6" width="109" height="121.49" />
            <polygon class=" cls-3" points="18.12 504.09 136.62 504.09 136.62 702.08 522.1 702.08 521.67 441.09 521.67 319.6 288.11 319.6 288.11 162.1 254 130.61 193.61 130.61 193.61 48.11 139.62 48.11 139.62 1.5 1.5 1.5 1.5 502.59 18.12 504.09"
            />
          </g>
        </g>
      </svg>
      <div class="stages-pins">
        <a class="pin-link pin1-1" data-space="2.225">
          <span class="pin-icon">
            <svg class="icon icon--pin">
              <use href="#icon-pin"></use>
            </svg>
          </span>
        </a>
        <a class="pin-link pin1-2" data-space="2.228">
          <span class="pin-icon">
            <svg class="icon icon--pin">
              <use href="#icon-pin"></use>
            </svg>
          </span>
        </a>
        <a class="pin-link pin1-3" data-space="2.229">
          <span class="pin-icon">
            <svg class="icon icon--pin">
              <use href="#icon-pin"></use>
            </svg>
          </span>
        </a>
        <a class="pin-link pin1-4" data-space="2.227">
            <span class="pin-icon">
              <svg class="icon icon--pin">
                <use href="#icon-pin"></use>
              </svg>
            </span>
          </a>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="content__item" data-space="2.225">
    <h3 class="content__item-title">
      Lecture auditorium 225
    </h3>
    <div class="content__item-details">
      <p class="content__desc">
        Manihot esculenta phytolacca americana corchorus olitorius, corchorus capsularis. Brassica rapa Pervidis or Komatsuna group
        dioscorea spp lepidium sativum, ipomoea aquatica - brassica rapa chinensis group spinacia oleracea. Phaseolus vulgaris
        macrotyloma uniflorum.
      </p>
    </div>
  </div>
  <div class="content__item" data-space="2.228">
    <h3 class="content__item-title">
      Lecture auditorium 228
    </h3>
    <div class="content__item-details">
      <p class="content__desc">
        Manihot esculenta phytolacca americana corchorus olitorius, corchorus capsularis. Brassica rapa Pervidis or Komatsuna group
        dioscorea spp lepidium sativum, ipomoea aquatica - brassica rapa chinensis group spinacia oleracea. Phaseolus vulgaris
        macrotyloma uniflorum.
      </p>
    </div>
  </div>
  <div class="content__item" data-space="2.229">
    <h3 class="content__item-title">
      Lecture auditorium 229
    </h3>
    <div class="content__item-details">
      <p class="content__desc">
        Manihot esculenta phytolacca americana corchorus olitorius, corchorus capsularis. Brassica rapa Pervidis or Komatsuna group
        dioscorea spp lepidium sativum, ipomoea aquatica - brassica rapa chinensis group spinacia oleracea. Phaseolus vulgaris
        macrotyloma uniflorum.
      </p>
    </div>
  </div>
  <div class="content__item" data-space="2.227">
      <h3 class="content__item-title">
        Lecture auditorium 227
      </h3>
      <div class="content__item-details">
        <p class="content__desc">
          Manihot esculenta phytolacca americana corchorus olitorius, corchorus capsularis. Brassica rapa Pervidis or Komatsuna group
          dioscorea spp lepidium sativum, ipomoea aquatica - brassica rapa chinensis group spinacia oleracea. Phaseolus vulgaris
          macrotyloma uniflorum.
        </p>
      </div>
    </div>
  <button class="boxbutton boxbutton--dark content__button content__button--hidden" aria-label="Close details">
    <svg class="icon icon-cross">
      <use href="#icon-cross"></use>
    </svg>
  </button>

</div>